  importFrom("graphics", "abline", "legend", "lines", "par", "plot",
             "plot.default")
  importFrom("stats", "ARMAacf", "acf", "ar.burg", "ar.yw", "arima",
             "coef", "diffinv", "fft", "filter", "frequency", "is.ts",
             "pchisq", "pnorm", "qqnorm", "rnorm", "start", "time",
             "vcov", "qnorm", "toeplitz")
export(selftest)
export(wine)
export(deaths)
export(strikes)
export(lake)
export(Sunspots)
export(dowj)
export(airpass)
export(aacvf)
export(acvf)
export(plotc)
export(trend)
export(smooth.ma)
export(smooth.exp)
export(smooth.fft)
export(season)
export(smooth.rank)
export(hr)
export(ma.inf)
export(ar.inf)
export(plota)
export(plots)
export(specify)
export(sim)
export(ia)
export(hannan)
export(arma)
export(autofit)
export(check)
export(forecast)
export(yw)
export(burg)
export(Resid)
export(test)
export(arar)
export(periodogram)
